*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  background-color:rgb(9, 6, 0) ;
  height: 72px;
 
}
#headerid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}
#navList{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.listCont{
  
  list-style-type: none;
}
.listLink{
  text-decoration: none;
  color: white;
}
#spotifytoplogo{
  height: 75;
  width: 160px;
}
.container{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
#section1{
  background-color: 
  rgb(255,205,210);
  width: auto;
  height: auto;
}
#section1 .container{
   display: grid;
   grid-template-columns:2fr 1fr ;
   gap: 175px;
}
.containerCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
#section1 #section1image{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.button{
  background-color:rgb(255,205,210); 
  padding: 10px;
  border-radius: 2rem;
  margin-top: 15px;

}
.linkButton{
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 2rem;
  margin-top: 15px;

}
#section1 h1{
  margin-bottom: 20px;
}

.h1{
  font-size: 40px;
}
.p1{
  font-size: 20px;
}
.smallp{
  font-size: 15px;
}