*{
  padding: 0;
  margin: 0;
box-sizing: border-box;
}

#logoIcon{
  height: 45px;
  width: 45px;
}
#logoText{
font-size: 25px;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lemon', serif;
color:rgb(111,171,23);
}
header{
  background-color: rgb(94, 52, 132);
  padding: 15px;
}
header .container{
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container{
  max-width: 1320px;
  padding-left: 2rem;
  padding-right: 2rem;

}
header .container #halfHeader {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
}


header .container #captionAsearch{

  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-top: 5px;
  margin-left: 15px;
  gap: 10px;
  
}
#logoAtext{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#headerList{
  gap: 35px;
}
header .material-symbols-outlined{
  font-size: 25px;
  color: white;
}

#searchBox .material-symbols-outlined{
  font-size: 18px;
  color: black;
  padding-left: 20px;
  padding-right: 15px;

}
/*
#captionAsearch{
  width: 750px;
} */

#tagline{
  color:rgb(133, 163, 87);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#headerInput{
  margin-top: 5px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5rem;
  width: 100%;
}

#searchBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color:rgb(251, 251, 253);
  border: none;
  width: 100%;
  border-radius: 5rem;
  margin-left:auto;
  margin-left: auto;

  }

.sectionImage{
  /*width: 1320px;*/
  width: 100%;
  height: auto;
}
.section1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#h1Ap{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: rgb(227, 241, 102);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product{
  padding: 1rem;
  border: 1px solid rgb(201, 241, 218);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  }
.product div{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  gap: 3rem;
}
.product div button{
  border: none;
  background-color: rgb(56, 153, 56);
  padding: .5rem;
  border-radius: 1rem;
}
.product h2{
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 150;
}
.product image{
height: auto;
width: auto;
}
.productSection{
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
}


@media only screen and (min-width: 900px) {

  #menuButton{
    display: none;
  }
  
  #logoText{
    font-size: 35px;}

  .material-symbols-outlined{
      font-size: 15px;
    }
 
    }


    @media only screen and (max-width: 700px) {

      #searchBox{
        display: none;
      }



      .productSection{
        max-width: 900px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-row: 1fr ;

    }
  }