*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;

}
body{
  font-family: 'Inter', sans-serif;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}


#logoPhoto{
  height: 42px;
  width: 50px;;
}


.header1 img{
  height: 0.75rem;
  width: 0.85rem;
}

#header1Text{
  font-weight: 500;
  color:rgb(103,110,135);
  font-size: 15px;

}
#logoText{
  
  font-weight: 700;
  font-size: 22px;


}
#logoAtext{
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
header{
  padding: .75rem;
border-bottom: 1px  solid rgb(240,243,242)  ;
}

.header1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:rgb(240,243,242);
  padding:0.5rem ;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

.language{
  display: none;
}


#header2{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
  align-items: center;
  padding-top: 1rem;}


#nav{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
}

.material-symbols-outlined{
  color:rgb(105, 111, 133);

}
.iconCount{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.countOFicon{
  display: block;
  background-color: rgb(25,135,84);
  color: white;
  font-weight: 700;
  font-size: 0.75rem;
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 50%;

position: absolute;
top: 0;
right: 0;
translate: 50% -35%;


}



#header3{
  display: none;
}




@media (min-width: 768px) {
  /* Your styles for tab screens go here | Came (UK flag)+ENGLISH+arrow on header1 */

  .language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
    color: rgb(103, 110, 135);
    font-size: 15px;
  }
  .language #languageExpand{
    padding: 0;
    font-size: 1rem;
  }

  .header1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}
#header2{
  padding-top: .75rem;
  max-width: 1200px;
}



#header3{
  display: none;
}

header{
  padding: .75rem;
border-bottom: 1px  solid rgb(240,243,242)  ;
}




@media (min-width: 990px) {
  /* Your styles for big tab screens go here | Came  search and location in header2 | Came All departments and other navigations */

  #menuButton{
  display: none;
}

header{
    padding: .75rem;
  border-bottom: 1px  solid rgb(240,243,242)  ;
}

#header2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



#header3{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  gap: 1.75rem;
}
#header3 button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: rgb(69,114,157);
  font-weight: 500;
  border: none;
  background-color: white;
  font-size: 0.85rem;
  border-radius: 0;
  
}

#header3 #allDepartmentButton .material-symbols-outlined{
  color: white;
  font-weight: lighter;
}

#header3 #allDepartmentButton{
  display: flex;
  background-color: rgb(9,173,21);
  color: white;
  gap: .5rem;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
}
#header3 a{
  list-style: none;
  text-decoration: none;
  color: rgb(69,114,157);
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;

}

#header3 #Docs{

  font-family: 'Inter', sans-serif;
  color: rgb(69,114,157);
  font-weight: 500;
  font-size: 0.85rem;
}

}
