*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#logo{
  height: 85px;
  width:  85px;
}
#logotext{
  color: rgb(27, 27, 29);
  font-size: 35px;
}
header{
  background-color:rgb(110,157,21);
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
.logoAtext{
  display: flex;
  flex-direction: row;
  justify-self:flex-start;
  align-items: center;
}
.list{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: center;
}
.linkCont{
  list-style-type: none;
}
.linkList{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.veg{
  width: 1539px;px;
  height: 300px;
}
.container{
  width: 1539px;
  margin-left: auto;
  margin-right: auto;
  pad
}